<a href="https://colab.research.google.com/github/LwinShwe/DATA606Spring2023/blob/main/Copy_of_Copy_of_07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**
# Author: Lwin Nandar Shwe

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

NYC weather data is chosen as a dataset of the asssignment for analyzing real world business cases like customer relationship, demand uncertainaties, supply chain and logistics management and how climate change impacts on our green economy.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [ ]:
# Import pandas 
import pandas as pd

# Use pandas to read nyc weather 
weather_df = pd.read_csv('/content/sample_data/NYC_Weather_2016_2022.csv')

weather_df.info()     # look at missing information of dataframe
print(weather_df.isnull().sum())

# explore the column names
weather_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59760 entries, 0 to 59759
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   time                   59760 non-null  object
 1   temperature_2m (°C)    59592 non-null  float64
 2   precipitation (mm)     59592 non-null  float64
 3   rain (mm)              59592 non-null  float64
 4   cloudcover (%)         59592 non-null  float64
 5   cloudcover_low (%)     59592 non-null  float64
 6   cloudcover_mid (%)     59592 non-null  float64
 7   cloudcover_high (%)    59592 non-null  float64
 8   windspeed_10m (km/h)   59592 non-null  float64
 9   winddirection_10m (°)  59587 non-null  float64
dtypes: float64(9), object(1)
memory usage: 4.6+ MB
time                       0
temperature_2m (°C)      168
precipitation (mm)       168
rain (mm)                168
cloudcover (%)           168
cloudcover_low (%)       168
cloudcover_mid (%)       168
cloudcover_high (%)      168
windspeed_10m (km/h)     168
winddirection_10m (°)    173
dtype: int64

Index(['time', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'windspeed_10m (km/h)', 'winddirection_10m (°)'],
      dtype='object')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pd.unique(weather_df['rain (mm)'])  # The pd.unique function tells us all amount of rain in the rain (mm) column

array([ 0. ,  0.1,  0.3,  1.1,  3.2,  4.3,  4.1,  5.5,  7.9,  2.8,  0.4,
        0.9,  0.2,  0.7,  1.9,  0.6,  1. ,  1.3,  2.1,  2.5,  2.3,  1.6,
        0.5,  0.8,  1.4,  5.9,  4.7,  1.8,  2.7,  1.2,  2.6,  3. ,  1.5,
        1.7,  2. ,  3.1,  3.3,  3.8,  3.6,  6.1,  2.9,  3.5,  6.8,  3.9,
        4.9,  5.3,  3.7,  2.2,  5.1,  5.6,  4. ,  3.4,  6. ,  5.2,  4.2,
        6.3,  5.4, 19.2,  5.8,  6.2,  7.6,  9.6,  7.4,  2.4,  4.8,  7.1,
        4.4,  4.5, 11.8, 15.2, 12.2, 15.3,  9.1,  7.5, 11.7,  9.8,  7.2,
        6.7,  5. ,  9.2,  4.6,  6.4,  8.5,  7.8, 10.9,  6.9,  8. ,  8.9,
        9.4,  8.8,  8.1,  5.7,  nan])

In [ ]:
weather_df['rain (mm)'].describe() # calculate basic statistics for all records in a single column 
# Group data by windspeed_10m (km/h)
grouped_data = weather_df.groupby('windspeed_10m (km/h)')

# Summary statistics for all numeric columns by windspeed_10m (km/h)
grouped_data.describe()

# find the mean for each numeric column by windspeed_10m (km/h)
grouped_data.mean()

,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),winddirection_10m (°)
windspeed_10m (km/h),,,,,,,,
0.0,15.740000,0.140000,0.140000,52.800000,37.600000,20.800000,38.000000,NaN
0.4,18.150000,0.283333,0.283333,53.125000,27.750000,35.500000,47.958333,228.750000
0.5,17.937931,0.024138,0.024138,37.413793,12.586207,24.655172,45.896552,175.344828
0.7,15.637931,0.075862,0.075862,45.172414,23.793103,33.586207,44.448276,251.379310
0.8,12.837288,0.123729,0.115254,55.254237,31.254237,37.864407,51.322034,175.271186
...,...,...,...,...,...,...,...,...
43.3,15.600000,3.800000,3.800000,100.000000,100.000000,91.000000,100.000000,176.000000
44.1,3.000000,1.500000,0.500000,100.000000,84.000000,100.000000,100.000000,340.000000
44.5,3.100000,1.900000,0.500000,100.000000,83.000000,100.000000,100.000000,341.000000
45.3,2.700000,1.100000,0.400000,100.000000,88.000000,99.000000,97.000000,341.000000
47.2,24.300000,4.400000,4.400000,100.000000,73.000000,85.000000,0.000000,159.000000

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [ ]:
# 1. Rename multiple column names.

weather_df.rename(columns={"time": "TIME"}, inplace=True)
weather_df.rename(columns={"temperature_2m (°C)": "TEMP_2m (°C)"}, inplace=True)
weather_df

,TIME,TEMP_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01T00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01T01:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01T02:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01T03:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01T04:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59755,2022-10-25T19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59756,2022-10-25T20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59757,2022-10-25T21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59758,2022-10-25T22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59759,2022-10-25T23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 2. Are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.
weather_df.dtypes

TIME                      object
TEMP_2m (°C)             float64
precipitation (mm)       float64
rain (mm)                float64
cloudcover (%)           float64
cloudcover_low (%)       float64
cloudcover_mid (%)       float64
cloudcover_high (%)      float64
windspeed_10m (km/h)     float64
winddirection_10m (°)    float64
dtype: object

In [ ]:
# 3.Fix missing and invalid values in data.
weather_df['winddirection_10m (°)'].mean()

# Replace all NaN values with that we chose using the .fillna() method
df1 = weather_df.copy()

df1['winddirection_10m (°)'] = weather_df['winddirection_10m (°)'].fillna(weather_df['winddirection_10m (°)'].mean())
df1['winddirection_10m (°)'].mean()

203.72441975598701

In [ ]:
df1['windspeed_10m (km/h)'] = df1['windspeed_10m (km/h)'].fillna(weather_df['windspeed_10m (km/h)'].mean())
df1['windspeed_10m (km/h)'].mean()

11.379841253859578

In [ ]:
# 4. Create new columns based on existing columns or calculations.
weather_df["low_pressure_area"] = (weather_df["TEMP_2m (°C)"] / weather_df["winddirection_10m (°)"])
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59760 entries, 0 to 59759
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TIME                   59760 non-null  object
 1   TEMP_2m (°C)           59592 non-null  float64
 2   precipitation (mm)     59592 non-null  float64
 3   rain (mm)              59592 non-null  float64
 4   cloudcover (%)         59592 non-null  float64
 5   cloudcover_low (%)     59592 non-null  float64
 6   cloudcover_mid (%)     59592 non-null  float64
 7   cloudcover_high (%)    59592 non-null  float64
 8   windspeed_10m (km/h)   59592 non-null  float64
 9   winddirection_10m (°)  59587 non-null  float64
 10  low_pressure_area      59587 non-null  float64
dtypes: float64(10), object(1)
memory usage: 5.0+ MB

In [ ]:
# Drop a column from your dataset.
weather_df.drop(weather_df.columns[[4]], axis=1)

,TIME,TEMP_2m (°C),precipitation (mm),rain (mm),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°),low_pressure_area
0,2016-01-01T00:00,7.6,0.0,0.0,72.0,10.0,296.0,0.025676
1,2016-01-01T01:00,7.5,0.0,0.0,56.0,9.8,287.0,0.026132
2,2016-01-01T02:00,7.1,0.0,0.0,99.0,9.7,285.0,0.024912
3,2016-01-01T03:00,6.6,0.0,0.0,100.0,9.2,281.0,0.023488
4,2016-01-01T04:00,6.3,0.0,0.0,100.0,9.1,279.0,0.022581
...,...,...,...,...,...,...,...,...
59755,2022-10-25T19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59756,2022-10-25T20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59757,2022-10-25T21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59758,2022-10-25T22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59759,2022-10-25T23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop some rows from your dataset
weather_df.drop([59755, 59756,59757,59758])

,TIME,TEMP_2m (°C),precipitation (mm),rain (mm),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°),low_pressure_area
0,2016-01-01T00:00,7.6,0.0,0.0,0.0,72.0,10.0,296.0,0.025676
1,2016-01-01T01:00,7.5,0.0,0.0,0.0,56.0,9.8,287.0,0.026132
2,2016-01-01T02:00,7.1,0.0,0.0,0.0,99.0,9.7,285.0,0.024912
3,2016-01-01T03:00,6.6,0.0,0.0,0.0,100.0,9.2,281.0,0.023488
4,2016-01-01T04:00,6.3,0.0,0.0,0.0,100.0,9.1,279.0,0.022581
...,...,...,...,...,...,...,...,...,...
59751,2022-10-25T15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59752,2022-10-25T16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59753,2022-10-25T17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59754,2022-10-25T18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59759,2022-10-25T23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Sort your data based on multiple variables.

df1 = weather_df.sort_values(['rain (mm)','precipitation (mm)','cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)'])
print(df1)

                   time  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
25     2016-01-02T01:00                  3.1                 0.0        0.0
26     2016-01-02T02:00                  2.9                 0.0        0.0
27     2016-01-02T03:00                  2.3                 0.0        0.0
28     2016-01-02T04:00                  2.0                 0.0        0.0
29     2016-01-02T05:00                  1.9                 0.0        0.0
...                 ...                  ...                 ...        ...
59755  2022-10-25T19:00                  NaN                 NaN        NaN
59756  2022-10-25T20:00                  NaN                 NaN        NaN
59757  2022-10-25T21:00                  NaN                 NaN        NaN
59758  2022-10-25T22:00                  NaN                 NaN        NaN
59759  2022-10-25T23:00                  NaN                 NaN        NaN

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
25                0.0                 0.0                 0.0
26                0.0                 0.0                 0.0
27                0.0                 0.0                 0.0
28                0.0                 0.0                 0.0
29                0.0                 0.0                 0.0
...               ...                 ...                 ...
59755             NaN                 NaN                 NaN
59756             NaN                 NaN                 NaN
59757             NaN                 NaN                 NaN
59758             NaN                 NaN                 NaN
59759             NaN                 NaN                 NaN

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
25                     0.0                  15.9                  273.0
26                     0.0                  15.1                  269.0
27                     0.0                  15.5                  267.0
28                     0.0                  15.5                  269.0
29                     0.0                  15.2                  266.0
...                    ...                   ...                    ...
59755                  NaN                   NaN                    NaN
59756                  NaN                   NaN                    NaN
59757                  NaN                   NaN                    NaN
59758                  NaN                   NaN                    NaN
59759                  NaN                   NaN                    NaN

[59760 rows x 10 columns]

In [ ]:
# Filter your data based on some condition.
weather_df.loc[(weather_df['winddirection_10m (°)'] >= 280) & (weather_df['winddirection_10m (°)'] <= 300)]

,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01T00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01T01:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01T02:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01T03:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
15,2016-01-01T15:00,4.8,0.0,0.0,76.0,60.0,0.0,72.0,13.6,281.0
...,...,...,...,...,...,...,...,...,...,...
59516,2022-10-15T20:00,20.2,0.0,0.0,0.0,0.0,0.0,0.0,16.2,283.0
59517,2022-10-15T21:00,19.9,0.0,0.0,0.0,0.0,0.0,0.0,14.3,288.0
59518,2022-10-15T22:00,18.1,0.0,0.0,0.0,0.0,0.0,0.0,13.1,286.0
59519,2022-10-15T23:00,16.8,0.0,0.0,0.0,0.0,0.0,0.0,13.2,281.0
59553,2022-10-17T09:00,13.2,0.0,0.0,80.0,4.0,78.0,100.0,6.3,294.0

# Convert all the string values to upper or lower cases in one column.
There is no string value to convert it into upper case letters, all variables are numeric data type.

In [ ]:
# Check whether numeric values are present in a given column of your dataframe.
import pandas as pd
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

is_string_dtype(weather_df['rain (mm)'])

False

In [ ]:
is_numeric_dtype(weather_df['rain (mm)'])

True

In [ ]:
is_string_dtype(weather_df['precipitation (mm)'])

False

In [ ]:
is_numeric_dtype(weather_df['precipitation (mm)'])

True

In [ ]:
# Group your dataset by one column, and get the mean, min, and max values by group.
# Groupby(), agg() or .apply()

# Import pandas 
import pandas as pd

# Use pandas to read nyc weather 
weather_df = pd.read_csv('/content/sample_data/NYC_Weather_2016_2022.csv')

grouped = weather_df.groupby("time")
grouped = weather_df.groupby(["time", "windspeed_10m (km/h)"])
grouped.sum()

,,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),winddirection_10m (°)
time,windspeed_10m (km/h),,,,,,,,
2016-01-01T00:00,10.0,7.6,0.0,0.0,69.0,53.0,0.0,72.0,296.0
2016-01-01T01:00,9.8,7.5,0.0,0.0,20.0,4.0,0.0,56.0,287.0
2016-01-01T02:00,9.7,7.1,0.0,0.0,32.0,3.0,0.0,99.0,285.0
2016-01-01T03:00,9.2,6.6,0.0,0.0,35.0,5.0,0.0,100.0,281.0
2016-01-01T04:00,9.1,6.3,0.0,0.0,34.0,4.0,0.0,100.0,279.0
...,...,...,...,...,...,...,...,...,...
2022-10-19T19:00,21.2,12.2,0.0,0.0,68.0,9.0,100.0,0.0,212.0
2022-10-19T20:00,20.3,12.2,0.0,0.0,61.0,8.0,90.0,0.0,207.0
2022-10-19T21:00,16.6,12.2,0.0,0.0,62.0,21.0,72.0,0.0,207.0
2022-10-19T22:00,10.8,11.1,0.0,0.0,4.0,0.0,6.0,0.0,206.0
2022-10-19T23:00,7.7,10.4,0.0,0.0,0.0,0.0,0.0,0.0,217.0

In [ ]:
# group by 'Temperature_2m', get mean, min, and max value of 'winddirection_10m (°)'for each value of Temperature.
grouped_single = weather_df.groupby('temperature_2m (°C)').agg({'winddirection_10m (°)': ['mean', 'min', 'max']})

print(grouped_single)

                    winddirection_10m (°)
                                     mean    min    max
temperature_2m (°C)
-18.3                          266.333333  261.0  270.0
-17.2                          285.000000  285.0  285.0
-16.8                          321.500000  321.0  322.0
-16.7                          273.000000  273.0  273.0
-16.6                          320.000000  320.0  320.0
...                                   ...    ...    ...
 35.1                          261.000000  261.0  261.0
 35.2                          231.000000  231.0  231.0
 35.3                          232.000000  232.0  232.0
 35.4                          180.000000  180.0  180.0
 35.5                          266.000000  266.0  266.0

[512 rows x 3 columns]

In [ ]:
# Group your dataset by two columns and then sort the aggregated results within the groups
grouped_multiple = weather_df.groupby(['temperature_2m (°C)', 'cloudcover_high (%)']).agg({'winddirection_10m (°)': ['mean', 'min', 'max']})
grouped_multiple.columns = ['winddirection_10m (°)_mean', 'winddirection_10m (°)_min', 'winddirection_10m (°)_max']
grouped_multiple = grouped_multiple.reset_index()
print(grouped_multiple)

       temperature_2m (°C)  cloudcover_high (%)  winddirection_10m (°)_mean  \
0                    -18.3                  0.0                  266.333333
1                    -17.2                  0.0                  285.000000
2                    -16.8                  0.0                  321.500000
3                    -16.7                  0.0                  273.000000
4                    -16.6                  0.0                  320.000000
...                    ...                  ...                         ...
18352                 35.1                 11.0                  261.000000
18353                 35.2                  0.0                  231.000000
18354                 35.3                  0.0                  232.000000
18355                 35.4                 12.0                  180.000000
18356                 35.5                 17.0                  266.000000

       winddirection_10m (°)_min  winddirection_10m (°)_max
0                          261.0                      270.0
1                          285.0                      285.0
2                          321.0                      322.0
3                          273.0                      273.0
4                          320.0                      320.0
...                          ...                        ...
18352                      261.0                      261.0
18353                      231.0                      231.0
18354                      232.0                      232.0
18355                      180.0                      180.0
18356                      266.0                      266.0

[18357 rows x 5 columns]

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

I noticed that an insight knowledge of timely weather information filtered from raw data set is effectively communicated to the real world business cases and climate change research.
I would like to explore data visualization in terms of multiples variables and different sort of plots.